
body {
  font-family: 'Chau Philomene One', sans-serif;
}

:root {
  /* Pastel blue */
  --rp-blue: #4368e2;
  /* Pastel Green */
  --rp-green: #60cc32;
  /* Pastel Red */
  --rp-red: #f35a5a;
  /* Pastel Yellow */
  --rp-yellow: #e9c058;
  /* Pastel Purple */
  --rp-purple: #aa58f1;
  /* Dark theme color*/
  --rp-dark: #1a202c;
  /* Light theme color */
  --rp-light: #f7fafc;

  --rp-gray-dark: #343a40;
  --rp-light-gray: #f8f9fa;
  --rp-gray: #6c757d;

}
