@import url('https://fonts.googleapis.com/css2?family=Chau+Philomene+One:ital@0;1&family=League+Spartan:wght@100..900&family=Mitr:wght@200;300;400;500;600;700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
  font-family: 'Chau Philomene One', sans-serif;
}

:root {
  /* Pastel blue */
  --rp-blue: #4368e2;
  /* Pastel Green */
  --rp-green: #60cc32;
  /* Pastel Red */
  --rp-red: #f35a5a;
  /* Pastel Yellow */
  --rp-yellow: #e9c058;
  /* Pastel Purple */
  --rp-purple: #aa58f1;
  /* Dark theme color*/
  --rp-dark: #1a202c;
  /* Light theme color */
  --rp-light: #f7fafc;

}
